# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/
platforms/
plugins/
*.swp
.DS_Store
.tmp
.sourcemaps
Thumbs.db
denverdevday.keystore
denverdevday.apk
