
.about {

    ion-card {

        ion-card-content {
            .about-header {
                overflow: hidden;
                position: relative;
                background-color: white;
            }

            .about-container {
                position: absolute;
                top: 0;                
                width: 100%;
                height: 100%;
                
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(45%, rgba(0, 0, 0, .2)), color-stop(100%, rgba(255, 255, 255, .1)));
                h3 {
                    margin: 5px;
                    font-weight: bold;
                    font-size: 1.2em;
                    color: white;   
                }
            }
        }

        line-height: 1.5em;

        h1 {
            margin-bottom: 5px;
        }
        p {
            margin: 5px 0;
        }
        #map {
            margin-top: 5px;
            width: 100%;
            height: 250px;
        }

    }

    
}