<ion-header no-border>
  <ion-navbar>
    <ion-title>Speaker Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides pager>

    <ion-slide>
      <img [src]="speaker.imgUrl" />
      <div class="name">{{ speaker.fullName }}</div>
      <div class="company">{{ speaker.company }}</div>
    </ion-slide>

    <ion-slide *ngIf="speaker.twitter || speaker.blog">
      <a href="{{speaker.twitter}}" target="_system" *ngIf="speaker.twitter" tappable>
        <ion-icon name="logo-twitter"></ion-icon></a>
      <a href="{{speaker.blog}}" target="_system" *ngIf="speaker.blog" tappable>
        <ion-icon name="logo-rss"></ion-icon>
      </a>
    </ion-slide>

  </ion-slides>

  <div class="bio-header">Bio</div>
  <div class="bio" [innerHTML]="speaker.bio"></div>

  <div class="bio-header">Sessions</div>

  <session-list [sessions]="sessions" (sessionSelected)="goToSession($event)"></session-list>


</ion-content>
