

speaker-detail {
    ion-slides {
      max-height: 150px;
      background-color: color($colors, primary);
      font-size: .9em;
      color: white;

      ion-slide {
        margin-top: -12px;
      }

      img {
        max-width: 75px !important;
        max-height: 75px !important;
        border-radius: 50px;
        border: 1px solid white;
      }

      a {
        color: white;
        border: 1px solid white;
        border-radius: 50px;
        text-align: center;
        padding: 10px
      }
      a:last-child {
        margin-left: 40px;
      }

      .company {
        margin-top: 2px;
        font-size: .8em;
      }
    }

    .bio-header {
      color: color($colors, light);
      background-color: lighten(color($colors, primary), 20);
      padding: 10px;
    }

    .bio {
      padding: 0 10px 0 10px;
      line-height: 1.5em;
    }

    .col-time {
      font-size: .9em;
    }

    .time-and-room {
      font-size: .8em;
    }

    ion-card {
        .speaker-header {
            height: 300px;
            overflow: hidden;
            position: relative;
            background-color: white;

            .speaker-info-container {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(45%, rgba(255, 255, 255, .1)), color-stop(100%, rgba(0, 0, 0, .65)));
                .speaker-info {
                    background: rgba(0, 0, 0, .05);
                    padding: 5px;
                    position: absolute;
                    bottom: 0px;
                    color: white;
                    line-height: 1.3em;

                    div {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    .name {
                        font-weight: bold;
                        font-size: 1.3em;
                    }
                    .twitter, .blog {
                        font-size: 1.5em;
                    }
                }
            }
        }

        ion-card-content {
            .bio {
                border: 1px solid rgba(0, 0, 0, .05);
                margin-bottom: 10px;
                padding: 3px;
                max-height: 200px;
                overflow: scroll;
            }
        }

    }
}
