<ion-header class="opaque">
    <ion-navbar>
        <ion-title>Favorites</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="favorites">

    <p *ngIf="sessions.length == 0">
        There are no sessions in your favorites. Go browse some sessions and add them to your favorites for them to show up here.
    </p>

    <ion-list *ngIf="sessions.length > 0">
        <button ion-item *ngFor="let session of sessions" tappable (click)="goToDetail(session)">
            <h2>{{ session.title }}</h2>
            <div class="speaker-names">
                <span *ngFor="let speaker of session.speakers">{{ speaker.fullName }}</span>
            </div>            
            <p *ngIf="session.time && session.room" class="time-and-room">{{ session.time | date:'h:mm' }} - {{ session.room }}</p>
            <p *ngIf="!session.time && !session.room" class="time-and-room">Time and room TBD</p>
        </button>
    </ion-list>
</ion-content>