favorites {    
    h2 {
        white-space: normal;
    }
    .speaker-names {
        margin-bottom: 5px;
        span:after {
            content: ' | ';
        }
        span {
            font-size: .85em;
            //margin-right: 5px;
        }
        span:last-of-type:after {
            content: '';
        }
    }
    .time-and-room {
       font-size: .8em;
    }
}