session-list {
  font-size: 15.5px;

  .time-and-room, .speaker-names {
    font-size: .9em;
    margin-top: 5px;

    color: #888;

    span {
      margin-right: 10px;
    }
  }

  ion-row {
    border-bottom: 1px solid #ddd;
  }
}
